.choice-container{
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.8rem;
    background-color: white;
    border: 0.1rem solid rgba(86, 165, 235, 0.25);
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0.4rem 0.4rem 0 rgba(86,186 , 235, 0.5);
    transform: translateY(-0.2rem);
    transition: transform 150ms;
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: #5770e0;
    color: white;
}

.choice-text{
    padding: 1.5rem 2.5rem;
    width: 100%;
}

.correct{
    background-color: #0af16b;
}

.incorrect{
    background-color: #f14b59;
}

#hub{
    display: flex;
    justify-content: space-between;
}

.hub-prefix{
    font-size: 2rem;
}

#progress-bar{
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid #45d1b3;
    margin-top: 2rem;
}

.progress-full-bar{
    height: 2.8rem;
    background-color: #45d1b3;
    width: 0%;
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
